/* .homeescreen{
   padding:30px ;
   border: 2px solid black;
   width: 105%;
   height: 100vh;

   .box{
      margin-top: 10px;
   }
   
.about-us{
   margin: 30px;
   margin-top: 20px;

   .box{
      margin-bottom: 20px;
   }
   
.sect{
   p{
      margin-top: 4px;
   }
}
.name{
   color: #c222d1;
}

}

.contact-us{
   margin: 30px;
   margin-top: 20px;

.box{
   margin-top: 10px;
   margin-bottom: 20px;
}

}


} */



.homeScreen{
   padding: 25px;
margin-left: -10px;

.box1{
padding: 20px;
border-radius: 12px;
margin-right: 200px;

img{
   margin-top: 10px;
   border-radius: 50%;
   border:1px solid black;
}

h1{
   font-size: 26px;
   font-weight: 600;
   span{
      text-decoration: underline;
   }
}

}

 
 .box2 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   margin-right: 200px;
   margin-top: 20px;
 }
 
 .box3 {
   display: flex;
   flex-direction: column; 
   text-align: center;
   border-radius: 8px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
 }
 
 .half1 {
   font-size: 20px;
   color: white;
   font-weight: 600;
     padding: 15px;
   flex: 1; 
 }
 .half2 {
   color: white;
   background-color: black;
   padding: 15px;
   flex: 1;
 }
 

.foot-box{
   padding: 15px;
background-color: black;
color: white;
margin-right: 200px;
border-radius: 12px;
margin-top: 20px;


}


}